#quiz {
  margin-top: 10px;
}
.question {
  text-align: justify;
  margin-left: 10px;
}

.answers {
  margin-left: 12px;
}

#submit {
  margin-left: 20px;
}

#timer {
  color: white;
}

#start-button {
  margin-left: 15px;
  padding: 6px 12px 6px 12px;
}
